@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  line-height: 1.5;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  text-align: center;
  color: #085CFE;
  line-height: 1.1;
  font-weight: 800;
  padding-top: 0.625rem;
  position: relative;
}

.title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 3.125rem;
  height: 0.3125rem;
  border-radius: 3px 3px 0 0;
  background-color: #085CFE;
}

.block-title {
  margin: 0 auto;
}

.block-title:not(:last-child) {
  margin-bottom: 3.125rem;
}

.block-title__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.block-title__text {
  text-align: center;
  font-size: 0.9375rem;
  color: #6a7c92;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #085CFE;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
}

.header__logo {
  width: 100%;
}

.header__btn {
  font-weight: 500;
  padding: 0.625rem 1.5625rem;
  border: 1px solid #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item {
  position: relative;
}

.menu__item::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 0;
  height: 0.125rem;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link {
  font-weight: 500;
}

.menu-open .menu__body {
  opacity: 1;
  visibility: visible;
  top: 0;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 3.125rem 0;
  background-color: #085CFE;
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-size: 0.875rem;
  margin: 0 auto;
}

.footer__logo {
  margin: 0 auto;
  max-width: 12.5rem;
  width: 100%;
}

.footer__link {
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  height: 3rem;
  width: 3rem;
}

.footer__link svg {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.promo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 4.6875rem 0;
  position: relative;
}

.promo::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.promo__container {
  z-index: 2;
}

.promo__title {
  max-width: 37.5rem;
  font-weight: 700;
  line-height: 1.1;
}

.promo__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.promo__text {
  max-width: 37.5rem;
  line-height: 1.5;
  font-size: 1.125rem;
}

.promo__text:not(:last-child) {
  margin-bottom: 2.5rem;
}

.promo__btn {
  background-color: #085CFE;
  padding: 0.75rem 2.1875rem;
  border-radius: 0.5rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.about {
  padding: 3.125rem 0;
}

.about__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.item-about {
  background: #fff;
  text-align: center;
  -webkit-box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  padding: 1.875rem 1.25rem;
  border-bottom: 2px solid #085CFE;
}

.item-about__img {
  width: 3.75rem;
  height: 3.75rem;
}

.item-about__img:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-about__title {
  font-weight: 700;
  font-size: 1.375rem;
  color: #085CFE;
}

.item-about__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-about__text {
  color: #6a7c92;
}

.solutions {
  padding: 3.125rem 0;
}

.solutions__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 1.25rem;
}

.solutions__item {
  background-color: #085CFE;
  padding: 1.25rem 1.875rem;
  border-radius: 0.5rem;
}

.solutions__title {
  font-weight: 700;
  font-size: 1.3125rem;
  padding-bottom: 0.3125rem;
  display: inline-block;
  border-bottom: 1px solid #fff;
}

.solutions__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.solutions__li {
  font-weight: 400;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.solutions__li:not(:last-child) {
  margin-bottom: 0.625rem;
}

.solutions__li::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: #fff;
  margin-top: 0.25rem;
}

.services {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 3.125rem 0;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.services__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  gap: 1.875rem;
}

.services .block-title__title {
  color: #fff;
}

.services .block-title__title::before {
  background-color: #fff;
}

.item-services__img {
  width: 3.125rem;
  height: 3.125rem;
}

.item-services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.item-services__title {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
}

.item-services__text {
  padding-left: 5rem;
  font-size: 0.9375rem;
}

.types {
  padding: 3.125rem 0;
}

.types__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 2rem;
}

.types__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2.1875rem 1.25rem;
  gap: 0.625rem;
  -webkit-box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.12);
  border-bottom: 2px solid #085CFE;
  border-radius: 0.5rem;
}

.types__img {
  background-color: #f4f7fc;
  border-radius: 1.875rem 0.3125rem;
  display: inline-block;
  padding: 0.625rem;
}

.types__img img {
  width: 3.75rem;
  height: 3.75rem;
}

.types__title {
  color: #085CFE;
  font-weight: 700;
  font-size: 1.375rem;
}

.types__text {
  color: #6a7c92;
}

.work {
  padding: 3.125rem 0;
}

.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
}

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1.25rem;
  background-color: #f4f7fc;
  padding: 1.25rem 1.875rem;
  border-radius: 3.125rem;
}

.work__img {
  max-width: 37.5rem;
}

.work__img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-work__img {
  background-color: #085CFE;
  padding: 1.125rem;
  border-radius: 50%;
  display: inline-block;
}

.item-work__img img {
  width: 2.1875rem;
  height: 2.1875rem;
}

.item-work__title {
  color: #085CFE;
  font-weight: 600;
}

.item-work__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-work__text {
  color: #6a7c92;
}

.partners {
  padding: 3.125rem 0;
}

.partners__items {
  display: -ms-grid;
  display: grid;
  max-width: 46.875rem;
  margin: 0 auto;
  gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.partners__item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  padding: 3.125rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.contacts::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.contacts__container {
  z-index: 2;
  position: relative;
}

.contacts__head .title {
  color: #fff;
}

.contacts__head .title::before {
  background-color: #fff;
}

.contacts__head .block-title__text {
  color: #fff;
}

.contacts__form {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28.125rem, 1fr));
  gap: 0.9375rem;
}

.form-contacts__input {
  width: 100%;
  height: 3.4375rem;
  padding: 0.3125rem 1.25rem;
  border-radius: 0.5rem;
  color: #6a7c92;
}

.form-contacts__textarea {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  min-height: 9.375rem;
  resize: none;
  color: #6a7c92;
}

.form-contacts__button {
  border-radius: 0.5rem;
  background-color: #085CFE;
  padding: 0.75rem 2.1875rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 auto;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

@media (min-width: 47.99875em) {
  .item-services__body:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media (min-width: 61.99875em) {
  .promo {
    background-attachment: fixed;
  }

  .services {
    background-attachment: fixed;
  }

  .contacts {
    background-attachment: fixed;
  }
}

@media (min-width: 76.875em) {
  .title {
    font-size: 2.375rem;
  }

  .header__logo {
    max-width: 12.3125rem;
  }

  .menu__body {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .promo__title {
    font-size: 4.0625rem;
  }

  .item-work__title {
    font-size: 1.375rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }

  .header__logo {
    max-width: 8.125rem;
  }

  .menu__body {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .promo__title {
    font-size: 2rem;
  }

  .item-work__title {
    font-size: 1.1875rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: absolute;
    top: -100%;
    left: 0;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    width: 100%;
    height: 100%;
    background-color: #085CFE;
    padding: 5rem 1.25rem;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    z-index: 11;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 12;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .work__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .work__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .work__img {
    max-width: 100%;
  }

  .contacts__form {
    grid-template-columns: repeat(auto-fit, minmax(21.875rem, 1fr));
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .services__body {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  .contacts__form {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }
}

@media (max-width: 33.125em) {
  .footer {
    padding: 1.875rem 0;
  }

  .footer__inner {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .contacts__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (font-size: clamp( 1.5rem , 1.1923076923rem  +  1.5384615385vw , 2.375rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.1923076923rem  +  1.5384615385vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.1923076923rem  +  1.5384615385vw , 2.375rem )) {
    .title {
      font-size: calc(1.5rem + 0.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (max-width: clamp( 8.125rem , 6.6524725275rem  +  7.3626373626vw , 12.3125rem )) {
    .header__logo {
      max-width: clamp( 8.125rem , 6.6524725275rem  +  7.3626373626vw , 12.3125rem );
    }
}

@supports not (max-width: clamp( 8.125rem , 6.6524725275rem  +  7.3626373626vw , 12.3125rem )) {
    .header__logo {
      max-width: calc(8.125rem + 4.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem ))) {
    .menu__body {
      -webkit-column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
         -moz-column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
              column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem ))) {
    .menu__body {
      -webkit-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
              column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
         -moz-column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
              column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) or (column-gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
              column-gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2rem , 1.2747252747rem  +  3.6263736264vw , 4.0625rem )) {
    .promo__title {
      font-size: clamp( 2rem , 1.2747252747rem  +  3.6263736264vw , 4.0625rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.2747252747rem  +  3.6263736264vw , 4.0625rem )) {
    .promo__title {
      font-size: calc(2rem + 2.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.1875rem , 1.1215659341rem  +  0.3296703297vw , 1.375rem )) {
    .item-work__title {
      font-size: clamp( 1.1875rem , 1.1215659341rem  +  0.3296703297vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.1875rem , 1.1215659341rem  +  0.3296703297vw , 1.375rem )) {
    .item-work__title {
      font-size: calc(1.1875rem + 0.1875 * (100vw - 20rem) / 56.875);
    }
}
}

@media (any-hover: hover) {
  .header__btn:hover {
    background-color: #0847c5;
  }

  .menu__item:hover::before {
    width: 100%;
  }

  .promo__btn:hover {
    background-color: #0847c5;
  }

  .form-contacts__button:hover {
    background-color: #0847c5;
  }
}